---
import Layout from "../layouts/Layout.astro";
import ItemPassword from "../components/ItemPassword.astro";
import { POST } from "./api";
import AddElement from "../pages/addElement.astro";
---

<Layout title="Gestor de contraseñas">
  <main>
    <h1>PASSWORD ENCRYP</h1>
    <div
      style="display:flex; flex-direction: row; justify-content: space-between;"
    >
      <h3 style="margin: 0;">LIST</h3>
      <a href="/addElement">
        <button class="newButton">Nuevo</button>
        <button class="newButton">Exportar</button>
      </a>
      <!-- <AddElement></AddElement> -->
    </div>
    <ItemPassword />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    /* width: 800px; */
    width: 90%;
    color: white;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .newButton {
    padding: 0.7rem;
    border-radius: 10px;
    border: 0;
    background-color: rgba(37, 204, 120, 0.973);
    cursor: pointer;
  }
</style>
